<!DOCTYPE html>
<html>
<head>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Packages</title>
<style>
.card {
  background-color: #123d1d;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  margin-top : 200px;
  margin-left : 500px;
  margin-right : 300px;
}

.submit {
  background-color: cream;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top:20px;
  cursor: pointer;
}



</style>
</head>
<body>


  
<div>
<%= form_with(model: @package, url: addpackage_path ) do |form| %>
  
  <div>
    <%= form.label :Description %><br>
    <%= form.text_field :description %>
    <% @package.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Price %><br>
    <%= form.number_field :price %>
    <% @package.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :servicetype %><br>
  <%= form.select :servicetype, ['Internet', 'Cable', 'Paper'], selected: 'Internet' %>
  </div>

  <div>
    <%= form.submit "add package" %>
  </div>  
<% end %>
</div>


</body>
</html>
