<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <%= stylesheet_link_tag "provider_dashboard", "data-turbo-track": "reload" %>
    <title>Admin panel</title>
  </head>
  <body>
    <div class="main2">
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="number"><%= @customer_count %></div>
            <div class="card-name">users</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number"><%= @package_count %></div>
            <div class="card-name">Packages</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number"><%= @subscription_count %></div>
            <div class="card-name">Subscriptions</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-users"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">$4500</div>
            <div class="card-name">Earnings</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-dollar-sign"></i>
          </div>
        </div>
      </div>
      <div class="charts">
        <div class="chart">
          <h2>Subscriptions (past 12 months)</h2>
          <div>
            <canvas id="lineChart"></canvas>
          </div>
        </div>
        <div class="chart doughnut-chart">
          <h2>Packages</h2>
          <div>
            <canvas id="doughnut"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script>
      var ctx = document.getElementById('lineChart').getContext('2d');
      var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          datasets: [{
              label: 'Earnings in $',
              data: [2050, 1900, 2100, 2800, 1800, 2000, 2500, 2600, 2450, 1950, 2300, 2900],
              backgroundColor: [
                  'rgba(85,85,85, 1)'

              ],
              borderColor: 'rgb(41, 155, 99)',

              borderWidth: 1
          }]
      },
      options: {
          responsive: true
      }
      });
      var ctx2 = document.getElementById('doughnut').getContext('2d');
      var myChart2 = new Chart(ctx2, {
      type: 'doughnut',
      data: {
          labels: ['Internet', 'Cable', 'Paper'],

          datasets: [{
              label: 'Packages',
              data: ['<%= @internetPackage_count %>', '<%= @cablePackage_count %>', '<%= @paperPackage_count %>'],
              backgroundColor: [
                  'rgba(41, 155, 99, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(120, 46, 139,1)'

              ],
              borderColor: [
                  'rgba(41, 155, 99, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(120, 46, 139,1)'

              ],
              borderWidth: 1
          }]

      },
      options: {
          responsive: true
      }
      });
    </script>
  </body>
</html>
