<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "all_packages", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>



  <div id="all_packages">
    <h1 class="cd-title">Subscribe customer</h1>
  
      <input class="cd-search" type="text" id="search-input" placeholder="Search...">
     
  
      <table  >
          <thead>
            <tr>
              <th>Description</th>
              <th>Price</th>
              <th>Service Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @all_packages.each do |pack| %>
              <% if flash[:subscription_errors] %>
              <div style="color:red"><%= flash[:subscription_errors] %></div>
              <div ><%= flash[:subscription_errors] = "" %></div>
              <% end %>
              <tr>
                <td><%= pack.description %></td>
                <td><%= pack.price %></td>
                <td><%= pack.servicetype %></td>
                <td>       
                    <%= button_to "Subscribe", addMysubscription_path(pack), method: :post %>
                </td>
        
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
 
</body>

<script>
  $(document).ready(function() {
    $('#search-input').on('input', function() {
      var value = $(this).val().toLowerCase();
      $('table tbody tr').filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
</html>