<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "singleCustomers", "data-turbo-track": "reload" %>
    <title>Document</title>
  </head>
  <body>
    <div   id = "user_profile_card">
      <div class="center">
        <div class="profile">
          <div class="image">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <% if @singleCustomer.avatar.attached? %>
              <img src="<%=(url_for(@singleCustomer.avatar))%>" width="70" height="70" >
            <%else %>
              <img src="/assets/user_avatar.png" width="70" height="70" >
            <%end%>
          </div>
          <div class="name"><%=  @singleCustomer.name %></div>
          <div class="actions">
            <%= button_to "Subscribe new" , newSubscriptions_path(@singleCustomer), method: :get, class: 'btn' %>
            <%# <button class="btn">Subscribe New</button> %>
          </div>
        </div>
        <div class="stats">
          <div class="box">
            <span class="value">Email:</span>
            <span class="parameter"><%=  @singleCustomer.email %> </span>
          </div>
          <div class="box">
            <span class="value">Phone number: </span>
            <span class="parameter">Likes</span>
          </div>
          <div class="box">
            <span class="value">Address:</span>
            <span class="parameter">Follower</span>
          </div>
        </div>
      </div>
    </div>
    <% if @subcribedPackages.present? %>
      <table id="single_customer">
        <caption>
          <h1 class="cd-title"> <b>Subscriptions</b> </h1>
        </caption>
        <thead>
          <tr>
            <th>Description</th>
            <th>Service Type</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @subcribedPackages.each do |subs| %>
            <tr>
              <td><%= subs.packagedescription %></td>
              <td><%= subs.servicetype%></td>
              <td><%= subs.price%></td>
              <td>
                <%= button_to "Unsubscribe", unsubscribe_path(subs), method: :delete,
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%else%>
      <table  id="single_customer">
        <caption>
          <h1 class="cd-title"> <b>Subscriptions</b> </h1>
          <h3 class="cd-title"> <b style="color:red">No subscriptions yet</b> </h3>
        </caption>
      </table>
    <%end%>
    <%if @DuePackages.present? %>
      <table  id="single_customer">
        <caption>
          <h1 class="cd-title"> <b>Customers' Bills</b> </h1>
          <% if flash[:confirmsg] %>
            <div style="color: red">
              <%= flash[:confirmsg] %>
            </div>
          <% end %>
        </caption>
        <thead>
          <tr>
            <th>Description</th>
            <th>Price</th>
            <th>status</th>
            <th>Month</th>
            <th>Due date</th>
            <th>Amount to be paid</th>
            <th>Receipt</th>
            <th>Confirm</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @DuePackages.each do |d| %>
            <tr>
              <td><%= d.packdescription %></td>
              <td><%= d.price%></td>
              <td >
                <%if d.status == 0%>
                  <p style = "color:red">unpaid</p>
                <%else%>
                  <p style = "color:blue">paid</p>
                <% end %>
              </td>
              <td><%= d.date.to_time.strftime("%B")%>,<%= d.date.to_time.strftime("%Y")%></td>
              <td><%= d.due_date%></td>
              <td><%= d.amount%></td>
              <td>
                <%= button_to 'Download',generate_bill_receipt_path(id:d.id,packdescription:d.packdescription,price:d.price,date:d.date,due_date:d.due_date,amount:d.amount,method: :post) %>
              </td>
              <td>
                <%if d.status == 0%>
                  <%= button_to 'Confirm',confirm_pay_provider_path(id:d.id,customer: @singleCustomer.id,method: :post) %>
                <%else%>
                  <p style = "color:blue">Confirmed</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%else%>
      <table  id="single_customer">
        <caption>
          <h1 class="cd-title"> <b>Customers' Bills</b> </h1>
          <h3 class="cd-title"> <b style="color:red">No bills yet</b> </h3>
        </caption>
      </table>
    <%end%>
  </body>
</html>
