<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Registration</title>
<style>
.card {
  background-color: #123d1d;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto auto;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
}

.card .submit {
  background-color: cream;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


</style>
</head>
<body>



<div>
<%= form_with(model: @customer, url: customerregister_path ) do |form| %>
  
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
    <% @customer.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Email %><br>
    <%= form.email_field :email %>
    <% @customer.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :Password %><br>
  <%= form.password_field :password %>
  <% @customer.errors.full_messages_for(:password).each do |message| %>
    <div><%= message %></div>
  <% end %>
 </div>

 <div>
 <%= form.label :Confirm_password %><br>
 <%= form.password_field :password_confirmation %>
 <% @customer.errors.full_messages_for(:password).each do |message| %>
  <div><%= message %></div>
<% end %>
</div>

  <div>
    <%= form.submit "add user" %>
  </div>  
<% end %>
</div>

</body>
</html>
