<h1>Customer dashboard </h1>

<div>
<h1>Your Subscribed packages</h1>
<table>
  <thead>
    <tr>
      <th>description</th>
      <th>price</th>
      <th>servicetype</th>
    </tr>
  </thead>
  <tbody>
    <% @customersInternet.each do |p| %>

      <tr>
        <td><%= p.packagedescription %></td>
        <td><%= p.price %></td>
        <td><%= p.servicetype %></td>
        <td>
        <%= button_to "Unsubscribe", unsubscribe_path(p), method: :delete ,data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

</div>



<h1> Due Packages</h1>
<table>
  <thead>
    <tr>
      <th>description</th>
      <th>price</th>
      <th>servicetype</th>
      <th>dues</th>
    </tr>
  </thead>
  <tbody>
    <% @duePackages.each do |p| %>
      <tr>
        <td><%= p.packagedescription %></td>
        <td><%= p.price %></td>
        <td><%= p.servicetype %></td>
        <td><%= p.dues %></td>
        <td>
        <%= button_to "pay", showPaymentforPackage_path(p), method: :get %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to "subscribe to new Package", selectpackage_path, method: :get %>


<%= button_to "Logout", logoutcustomer_path, method: :delete %>
