<h1>internetPackagesavailable</h1>

<h1>Packages</h1>
<table>
  <thead>
    <tr>
      <th>description</th>
      <th>price</th>
      <th>servicetype</th>
    </tr>
  </thead>
  <tbody>
    <% @internetPackage.each do |pack| %>
      <tr>
        <td><%= pack.description %></td>
        <td><%= pack.price %></td>
        <td><%= pack.servicetype %></td>
        <td>
        <%= form_with(model: @mysub, url: addmySubscription_path) do |form| %>
            <%= form.hidden_field :package_id, value: pack.id %>
            <%= form.hidden_field :packagedescription, value: pack.description %>
            <%= form.hidden_field :price, value: pack.price %>
            <%= form.hidden_field :servicetype, value: pack.servicetype %>
            <%= form.submit "Subscribe" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>