<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "singleCustomers", "data-turbo-track": "reload" %>
    <title>Document</title>
  </head>
  <body>
    <%= button_to "Gererate new bill" , gen_monthly_bills_path, method: :post %>
    <table  id="single_customer">
      <caption>
        <h1 class="cd-title"> <b>Bills</b> </h1>
      </caption>
      <thead>
        <tr>
          <th>Customer Id</th>
          <th>Description</th>
          <th>Price</th>
          <th>status</th>
          <th>Date</th>
          <th>Due date</th>
          <th>Fine</th>
          <th>Amount to be paid</th>
        </tr>
      </thead>
      <tbody>
        <% if @your_bills.present? %>
          <% @your_bills.each do |d| %>
            <tr>
              <td><%= d.customer_id %>
                <td><%= d.packdescription %></td>
                <td><%= d.price%></td>
                <td><%= d.status%></td>
                <td><%= d.date%></td>
                <td><%= d.due_date%></td>
                <td><%= d.fine%></td>
                <td><%= d.amount%></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </body>
  </html>
