<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "paymentPage", "data-turbo-track": "reload" %>
    <title>Document</title>
  </head>
  <body>
    <div class="payment">
      <div class="inner-warpper text-center">
        <h2 class="title" >Pay For Package</h2>
        <% if @pay.present? && @pay.errors.any? %>
          <% @pay.errors.full_messages.each do |message|%>
            <%= message %>
          <% end %>
          <%= button_to "make new payment" , duePackages_path, method: :get %>
        <% end %>
        <% if @unpaidpack.present? %>
          <table id = "invoice">
            <thead>
              <tr>
                <td>Description</td>
                <td><%= @unpaidpack.packdescription %></td>
              </tr>
              <tr>
                <td>Price</td>
                <td><%= @unpaidpack.price %></td>
              </tr>
              <tr>
                <td>Month</td>
                <td><%= @unpaidpack.date.to_time.strftime("%B")%>,<%= @unpaidpack.date.to_time.strftime("%Y")%></td>
              </tr>
              <tr>
                <td>Due date</td>
                <td><%= @unpaidpack.due_date %></td>
              </tr>
              <tr>
                <td>Total amount</td>
                <td> <%= @unpaidpack.amount%></td>
              </tr>
            </thead>
          </table>
          <div class="paymentForm"></div>
          <%= form_with(url: confirm_pay_customer_path ,method: "post", id:"your-form") do |form| %>
            <%= form.label(:enter_card_number, class: "payment_form_label") %>
            <%= form.number_field(:card, class: "payment_form_input" ,required: true)%>
            <%= form.submit("Make Payment", class: "button_checkout") %>
          <% end %>
        <%end%>
      </div>
    </div>
  </body>
</html>
