<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "paymentPage", "data-turbo-track": "reload" %>
    <title>Document</title>
  </head>
  <body>
    <div class="payment">
      <div class="inner-warpper text-center">
        <h2 class="title" >Pay For Package</h2>
        <% if @pay.present? && @pay.errors.any? %>
          <% @pay.errors.full_messages.each do |message|%>
            <%= message %>
          <% end %>
          <%= button_to "make new payment" , duePackages_path, method: :get %>
        <% end %>
        <% if @unpaidpack.present? %>
          <table id = "invoice">
            <thead>
              <tr>
                <td>Description</td>
                <td><%= @unpaidpack.packagedescription %></td>
              </tr>
              <tr>
                <td>Price</td>
                <td><%= @unpaidpack.price %></td>
              </tr>
              <tr>
                <td>Service Type</td>
                <td><%= @unpaidpack.servicetype %></td>
              </tr>
              <tr>
                <td>Dues</td>
                <td><%= @unpaidpack.dues %></td>
              </tr>
              <tr>
                <td>Total Amount</td>
                <td> <%= @unpaidpack.dues * @unpaidpack.price %></td>
              </tr>
            </thead>
          </table>
          <div class="paymentForm"></div>
          <%= form_with(model: @pay, url: paymentforpackage_path , id:"your-form") do |form| %>
            <%= form.hidden_field :subscription_id, value: @unpaidpack.id %>
            <%= form.hidden_field :packagedescription, value: @unpaidpack.packagedescription %>
            <%= form.hidden_field :price, value: @unpaidpack.price %>
            <%= form.hidden_field :servicetype, value: @unpaidpack.servicetype %>
            <%= form.hidden_field :dues, value: @unpaidpack.dues %>
            <%= form.hidden_field :amount, value: @unpaidpack.dues * @unpaidpack.price %>
            <%= form.label(:enter_card_number, class: "payment_form_label") %>
            <%= form.number_field(:card, class: "payment_form_input" )%>
            <%= form.submit("Make Payment", class: "button_checkout") %>
          <% end %>
        <%end%>
      </div>
    </div>
  </body>
</html>
