<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "transaction", "data-turbo-track": "reload" %>
    <title>Transaction</title>
  </head>
  <body>
    <table id="transactions">
      <caption>
        <h1> <b>Transaction History</b> </h1>
      </caption>
      <thead>
        <tr>
          <th>Package description</th>
          <th>Price</th>
          <th>Billing month</th>
          <th>Total Amount</th>
          <th>TxId</th>
          <th>Invoice</th>
        </tr>
      </thead>
      <tbody>
        <% @payhistory.each do |p| %>
          <tr>
            <td><%= p.packdescription %></td>
            <td><%= p.price %></td>
            <td><%= p.date.to_time.strftime("%B")%>,<%= p.date.to_time.strftime("%Y") %></td>
            <td><%= p.amount %></td>
            <td><%= p.txid %></td>
            <td><%= button_to 'Download',generate_bill_receipt_path(id:p.id,packdescription:p.packdescription,price:p.price,date:p.date,due_date:p.due_date,amount:p.amount,method: :post) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
